<?xml version="1.0" encoding="UTF-8"?>
<Context reloadable="true">
    <Resource
            name="jdbc/demo6"
            type="javax.sql.DataSource"
            maxTotal="4"
            maxIdle="2"
            driverClassName="com.mysql.cj.jdbc.Driver"
            url="jdbc:mysql://127.0.0.1:3306/stu_manage?useSSL=false&amp;serverTimezone=UTC"
            username="root"
            password="123456"
            maxWaitMillis="5000"/>
</Context>

